.create-rfq-form-wrapper {
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rfq-form-number-date-wrapper {
    display: flex;
    justify-content: space-between;
}

.rfq-form-number-input-wrapper,
.rfq-form-closing-date-wrapper,
.rfq-form-remarks-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 0.1vw solid #C1C7CD;
}


.rfq-form-number-input-wrapper > label,
.rfq-form-closing-date-wrapper > label,
.rfq-form-remarks-wrapper {
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 0.9vw;
    color: #213C45;;
}

.rfq-form-number-input-wrapper > input,
.rfq-form-closing-date-wrapper > input,
.rfq-form-remarks-wrapper > input {
    border: none;
    padding-bottom: 0.5vw;
    background-color: transparent;
    width: 39vw;
    outline: none;
    font-size: 0.9vw;
    color: #999;
}

.create-rfq-form-back-button {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    font-size: 0.9vw;
    padding: 0.4vw 1vw;
    margin-right: 1vw;
    border: 0.1vw solid #ccc;
    background-color: white;
    color: #777;
    cursor: pointer;
}

.rfq-form-pdf-wrapper {
    font-size: 0.9vw;
    color: #213C45;
    display: flex;
    gap: 1vw;
    justify-content: left;
    align-items: center;
}

.rfq-form-table-wrapper {
    margin-top: 2vh;
    width: 100%;
    overflow-x: auto;
}

.rfq-form-table-scroll {
    overflow-x: auto;
    max-width: 100%;    
}

.rfq-form-col-header-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rfq-form-col-header-inputs input, 
.rfq-form-col-header-inputs select {
    width: 10vw;
    height: 3vh;
    padding: 0;
    border: 1px solid #ccc;
}

.rfq-form-col-header-inputs select {
    margin-bottom: 0.5vw;
}

.rfq-form-col-header-buttons > * {
    width: 10vw;
}

.rfq-form-table-row input {
    padding: 0;
    height: 5vh;
    width: 10vw;
    border: 1px solid #ccc;
}

.rfq-form-table-wrapper table {
    width: 100%;
}

.rfq-form-table-wrapper th, 
.rfq-form-table-wrapper td {
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    text-align: center;
}

.rfq-form-add-col-button,
.rfq-form-del-col-button {
    height: 15vh;
    width: 2vw;
}

.rfq-form-add-row-button, 
.rfq-form-create-button-wrapper {
    width: 100%;
}

.rfq-form-add-row-wrapper,
.rfq-form-create-button {
    min-width: 100%;
    width: max-content;
}