.create-rfq-form-wrapper {
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rfq-form-number-date-wrapper {
    display: flex;
    justify-content: space-between;
}

.rfq-form-number-input-wrapper,
.rfq-form-closing-date-wrapper,
.rfq-form-remarks-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 0.1vw solid #C1C7CD;
}


.rfq-form-number-input-wrapper > label,
.rfq-form-closing-date-wrapper > label,
.rfq-form-remarks-wrapper {
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 0.9vw;
    color: #213C45;;
}

.rfq-form-number-input-wrapper > input,
.rfq-form-closing-date-wrapper > input,
.rfq-form-remarks-wrapper > input {
    border: none;
    padding-bottom: 0.5vw;
    background-color: transparent;
    width: 39vw;
    outline: none;
    font-size: 0.9vw;
    color: #999;
}



.create-rfq-form-back-button {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    font-size: 0.9vw;
    padding: 0.4vw 1vw;
    margin-right: 1vw;
    border: 0.1vw solid #ccc;
    background-color: white;
    color: #777;
    cursor: pointer;
}
