.tabs {
    display: flex;
    border-bottom: 1px solid #dcdcdc;
    background-color: #f2f4f8;
}

.tab-button {
    background: none;
    border: none;
    padding: 1vw 2vw;
    font-size: 1vw;
    color: #213C45;
    cursor: pointer;
    position: relative;
}

.tab-button:hover {
    color: #1a3d8f;
}

.tab-button.active {
    font-weight: bold;
    color: #1a3d8f;
}

.tab-button.active::after {
    content: "";
    position: absolute;
    left: 20%;
    bottom: 0;
    width: 60%;
    height: 2px;
    background-color: #1a3d8f;
}

.dashboard-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}



@media (max-width: 768px) {
  .tab-button {
    font-size: 2.5vw;
    padding: 2vw 3vw;
  }
}
