:root {
    --color-muted: #A0A5AC;
    --color-muted-hover: #ffffff;
    --color-border: var(--color-muted);
    --color-text: var(--color-muted);
    --color-icon: var(--color-muted);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

/* Search Bar */
.product-controls-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    margin-bottom: 1vw;
}

.product-controls-wrapper input {
    border: none;
    outline: none;
    font-size: 1vw;
    margin-left: 0.5vw;
    background-color: transparent;
    flex: 1;
    color: var(--color-text);
}

.product-controls-wrapper input::placeholder {
    color: var(--color-text);
    opacity: 1;
}

.product-controls-wrapper svg {
    color: var(--color-icon);
    font-size: 1.1vw;
}

.product-controls-wrapper > div {
    display: flex;
    align-items: center;
}

.product-search-bar {
    width: 73vw;
    border-bottom: 0.1vw solid var(--color-border);
}

.create-product-button {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    font-size: 0.9vw;
    padding: 1vh 2vw;
    border: 0.1vw solid var(--color-border);
    background-color: white;
    color: var(--color-text);
    cursor: pointer;
}

.product-search-icon {
    font-size: 1vw;
    color: var(--color-icon);
}

.create-product-button:hover {
    background-color: var(--color-muted);  
    color: var(--color-muted-hover);
}

.create-product-button:hover svg {
    color: var(--color-muted-hover);
    transition: color 0.3s ease;
}
