/* 
科瑞特采购系统 font-size: 0.7vw, color: #213C45
*/

/* Side Nav Container */
.sideNav_container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
}

/* Side Nav Banner */
.sideNav_banner {
    display: flex;
    align-items: center;
    font-size: 1vw;
    color: #213C45;
}

.sideNav_banner > img {
    width: 1.5vw;
    height: auto;
    margin: 0.2vw;
}

/* Side Nav Email */
.sideNav_emailWrapper {
    display: flex;
    margin-bottom: 1vw;
    font-size: 1vw;
}

/* Side Nav Control */
.sideNav_controlWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding-left: 2vw;
}

.sideNav_control {
    background-color: white;
    border: none;
    font-size: 0.9vw;
}

/* Side Nav Divider */
.side-nav-divider {
    margin-top: 2vh;
    height: 0.01rem;
    background-color: #F2F4F8;
    width: 90%;
}
